<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Now" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Locations Tab -->
  <ion-tab title="Locations" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/locations">
    <ion-nav-view name="tab-locations"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
